    body {
      font-family: sans-serif;
      max-width: 800px;
      margin: auto;
      padding: 20px;
      line-height: 1.6;
    }
    nav a {
      margin-right: 10px;
    }
    #disqus_thread{border: 1px solid #80808052; padding: 10px; max-width: 500px; margin: auto; margin-top: 100px; margin-bottom: 30px;}
#pagination{margin-top: 10px;}
#post-list >div{padding: 10px;}